<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
	<head>
		<title><%= title %></title>
		<link rel="shortcut icon" href="/favicon.ico?v=2" />
	</head>
	<body>
		<style>
		* {
			margin: none;
			padding: none;
			outline: none;
			border: none;
			font-family: sans-serif;

		}
		footer {
			position: fixed;
			height: 100px;
			width: 100%;
			bottom: 0;
			left: 0;
		}
		</style>
		
		
		<h1><%= title%></h1>
		<p><b>ArchLinux ARM</b> Raspberry Pi 2</p>
		<p><b>Node.js</b> MEAN Stack Application by Alexander Eden</p>
		<p>Live Server - <i>From Jim's Basement!</i></p>
		

		<!-- include the main module view via routing -->
		<section ng-view></section>

		<!-- Render the user object -->
		<script type="text/javascript">
			window.user = <%- user || 'null' %>;
		</script>



		<!-- include socket, angularjs, angularjs routing, and angularjs resource configs -->
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/lib/angular/angular.js"></script>
		<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
		
		<!-- include the main module controller -->
		<script type="text/javascript" src="/main/main.client.module.js"></script>
		<script type="text/javascript" src="/main/controllers/main.client.controller.js"></script>
		<script type="text/javascript" src="/main/config/main.client.routes.js"></script>

		<!-- include the user authentication module and service -->
		<script type="text/javascript" src="/users/users.client.module.js"></script>
		<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

		<!-- include the main application angular bootstrap initialization -->
		<script type="text/javascript" src="/application.js"></script>
	</body>
	<footer >
		<img src="img/pi-logo.png" alt="Logo">
		<img src="img/arch-logo.png" alt="Logo">
		<img src="img/node-logo.png" alt="Logo">
		<img src="img/angular-logo.png" alt="Logo">
	</footer>
</html>
